@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-cyan: #00F0FF;
  --neon-purple: #BC13FE;
  --neon-green: #00FF94;

  --text-main: #EDEDED;
  --text-muted: #888888;
  --text-dim: #444444;

  --bg-core: #050505;
  --glass-surface: rgba(255, 255, 255, 0.03);
  --glass-border: rgba(255, 255, 255, 0.08);
}

@layer base {
  body {
    @apply bg-core text-main font-sans antialiased overflow-x-hidden;
  }

  /* Typography Defaults */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-wide uppercase;
    /* Rajdhani Default for Headings */
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }

  ::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--neon-cyan);
  }
}

/* Animations */
@keyframes pulse-slow {

  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.3;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}

/* Utilities */
.text-glow {
  text-shadow: 0 0 20px rgba(0, 240, 255, 0.5);
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-neon-cyan to-neon-purple;
}